---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sticky,
.sidebar__right.sticky {
  height: 75px; // 65px plus some additional pixels, modify to your taste
}



